:host {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-top: 2rem;
  margin: auto;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
